@import "./variables.scss";
.main {
    max-height: 100vh;
  .tagline {
    padding: 64px 56px;
    font-family: $fontFamilyHelvetica;
    font-weight: 300;
    font-size: 60px;
    color: #ffffff;
  }
  .upload {
    background-color: #000000;
    height: 100%;
    padding: 24px;
    .icon {
      display: block;
      margin: 4px auto;
    }
    .info{
        color:rgba(255, 255, 255, 0.60);
        font-family: $fontFamilyHelvetica;
        font-weight: 400;
        text-align: center;
    }
  }
}

// Upload section styles
