@import "../../variables.scss";

.container {
  // width: 400px;
  // height: 100%;
  width: 500px;
  height: 60vh;
  // margin: 48px;
  background-color: #141414;
  padding: 48px;
  display: flex;
  flex-direction: column;
  .header {
    color: #ffffff;
    text-align: center;
    font-family: $fontFamilyHelvetica;
    line-height: normal;
    .title{
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 8px;
    }
    .subtitle{
        color: rgba(255, 255, 255, 0.60);
        font-size: 15px;
    }
  }
  
  .chartContainer {
    display: block;
    margin: auto;
  }

  .footer{
    font-size: 40px;
    text-align: center;
    font-family: $fontFamilyInter;
    color: #ffffff;
  }
}
